@using UCStatistics.Shared.DTOs
<select class="form-select" @onchange="OnChange">
    <option value="">-- All Areas --</option>
    @foreach (var a in Areas)
    {
        <option value="@a.Level3Nr" selected="@(Value == a.Level3Nr)">
            @a.Level3Name
        </option>
    }
</select>

@code {
    [Parameter] public int? Value { get; set; }
    [Parameter] public EventCallback<int?> ValueChanged { get; set; }

    [Parameter] public IEnumerable<OfficeInfo> Areas { get; set; }

    private async Task OnChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var v))
            Value = v;
        else
            Value = null;

        await ValueChanged.InvokeAsync(Value);
        Console.WriteLine($"[DEBUG] Selected Area: {Value}");
    }
}
