@using UCStatistics.Shared.DTOs
<select multiple class="form-select" @onchange="OnChange">
    <option value="">All Branches</option>
    @foreach (var o in Offices)
    {
        <option value="@o.OfficeNr" selected="@(Value == o.OfficeNr)">
            @o.OfficeName
        </option>
    }
</select>

@code {
    
    [Parameter] public int? Value { get; set; } = new();
    [Parameter] public EventCallback<int?> ValueChanged { get; set; }

    [Parameter] public IEnumerable<OfficeInfo> Offices { get; set; } = Enumerable.Empty<OfficeInfo>();

    private async Task OnChange(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value?.ToString(), out var v))
            Value = v;
        else
            Value = null;

        await ValueChanged.InvokeAsync(Value);
    }
}

