<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">UCStatistics</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="historical" Match="NavLinkMatch.Prefix">
                <span class="bi bi-bar-chart-fill"></span> Historical
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/servicesummary" Match="NavLinkMatch.Prefix">
                <span class="oi oi-list-rich"></span> Service Summary
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="live" Match="NavLinkMatch.Prefix">
                <span class="bi bi-clock-fill"></span> Live
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings" Match="NavLinkMatch.Prefix">
                <span class="bi bi-gear-fill"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

